{% extends "base.html" %}

{% block title %}
 - {{ event.name }}
{% endblock %}

{% block description %}
{{ event.description }}
{% endblock %}


{% block content %}
	<div id="list" itemscope itemtype="http://data-vocabulary.org/Event">
	<div class="item">
        <div class="title">
			<img class="img" src="{{ event.photo.url }}" alt="" itemprop="photo">
		    <img src="{{ STATIC_URL }}images/black.png" alt="" class="bg">

            <h2 itemprop="summary">{{ event.name }}</h2>
		</div>
	</div>

	<div class="left">
		<div class="block">
			<h3>Účastníci</h3>
			{% for person in event.people.all %}
				<img src="{{ person.photo.url }}" alt="{{ person.first_name }}" title="{{ person.first_name }}" class="avatar small">
			{% endfor %}
		</div>

		{% if event.description %}
			<div class="block">
                <h3 class="description" itemprop="description">{{ event.description }}</h3>
			</div>
        {% endif %}


        <div class="hidden">
            <time itemprop="startDate" datetime="{{ event.date_start|date:'c' }}">{{ event.date_start|date:'j. E Y' }}</time>
            {% if event.date_end %}
                <time itemprop="endDate" datetime="{{ event.date_end|date:'c' }}">{{ event.date_end|date:'j. E Y' }}</time>
            {% endif %}

            {% if event.location %}
                <span itemprop="location">{{ event.location }}</span>
            {% endif %}
            <span itemprop="eventType">Expedice</span>
        </div>
	</div>

	<div class="right">
		{% if articles %}
			<div class="block">
				<h3>Články</h3>
				<ul class="links">
					{% for link in articles %}
						<li><a href="{{ link.url }}"><strong>{{ link.name }}</strong></a> ({{ link.description }})
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if photos %}
			<div class="block">
				<h3>Fotografie</h3>
				<ul class="links">
					{% for link in photos %}
						<li><a href="{{ link.url }}"><strong>{{ link.name }}</strong></a> ({{ link.description }})
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if other %}
			<div class="block">
				<h3>Ostatní</h3>
				<ul class="links">
					{% for link in other %}
						<li><a href="{{ link.url }}"><strong>{{ link.name }}</strong></a> ({{ link.description }})
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
	</div>
{% endblock %}
