{% extends "base.html" %}
{% load url from future %}
{% load numrange %}

{% block title %}
	{% ifnotequal 1 events.number %}
		- {{ events.number }}. strana ze seznamu expedic
	{% endifnotequal %}
{% endblock %}

{% block description %}
	{% ifequal 1 events.number %}
		Webová prezentace dobrodružného spolku Tchoříci. Seznam expedic, fotografie, vypravování...
	{% else %}
		{{ events.number }}. stránka ze seznamu našich dobrodružství.
	{% endifequal %}
{% endblock %}

{% block content %}
	<ul id="list">
		{% for event in events %}
            <li class="item" itemscope itemtype="http://data-vocabulary.org/Event">
			    <div class="title">
					<a href="{{ event.get_absolute_url }}" itemprop="url">
						<img class="img" src="{{ event.photo.url }}" alt="" itemprop="photo">
						<img src="{{ STATIC_URL }}images/black.png" alt="" class="bg">

						<h2 itemprop="summary">{{ event.name }}</h2>
					</a>
				</div>

                <div class="hidden">
                    <time itemprop="startDate" datetime="{{ event.date_start|date:'c' }}">{{ event.date_start|date:'j. E Y' }}</time>
                    {% if event.date_end %}
                        <time itemprop="endDate" datetime="{{ event.date_end|date:'c' }}">{{ event.date_end|date:'j. E Y' }}</time>
                    {% endif %}

                    {% if event.location %}
                        <span itemprop="location">{{ event.location }}</span>
                    {% endif %}
                    <span itemprop="eventType">Expedice</span>
                </div>
				<hr class="clear">
			</li>
		{% endfor %}
	</ul>

	<div class="pagination">
		<ul>
			{% for i in events.paginator.num_pages|numrange %}
				<li><a
				{% ifequal i|add:1 events.number %}class="current"{% endifequal %}
				href="{% url 'events.views.list' i|add:1 %}">{{ i|add:1 }}</a></li>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
