{% extends "base.html" %}
{% load url from future %}
{% load numrange %}

{% block title %}
	{% ifnotequal 1 events.number %}
		- {{ events.number }}. strana ze seznamu expedic
	{% endifnotequal %}
{% endblock %}

{% block description %}
	{% ifequal 1 events.number %}
		Webová prezentace dobrodružného spolku Tchoříci. Seznam expedic, fotografie, vypravování...
	{% else %}
		{{ events.number }}. stránka ze seznamu našich dobrodružství.
	{% endifequal %}
{% endblock %}

{% block content %}
	<ul id="list">
		{% for event in events %}
			<li class="item">
				<div class="title">
					<a href="{% url 'detail' event.slug %}">
						<img class="img" src="{{ event.photo.url }}" alt="">
						<img src="{{ STATIC_URL }}images/black.png" alt="" class="bg">

						<h2>{{ event.name }}</h2>
					</a>
				</div>
				<hr class="clear">
			</li>
		{% endfor %}
	</ul>

	<div class="pagination">
		<ul>
			{% for i in events.paginator.num_pages|numrange %}
				<li><a
				{% ifequal i|add:1 events.number %}class="current"{% endifequal %}
				href="{% url 'events.views.list' i|add:1 %}">{{ i|add:1 }}</a></li>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
