{% extends "base.html" %}

{% block title %}
 - stránka nenalezena
{% endblock %}

{% block description %}
Stránka nebyla nalezena, je nám líto.
{% endblock %}

{% block content %}
	<div id="list">
		<div class="item">
			<div class="title">
				<img class="img" src="{{ STATIC_URL }}images/titles/noway.jpg" alt="">
				<img src="{{ STATIC_URL }}images/black.png" alt="" class="bg">
				<h2>Stránka nebyla nalezena</h2>
			</div>
		</div>
	</div>
	<div class="block wide">
		Omlouváme se, ale patrně jste se dostali do neprobádaných končin, ve kterých se už vůbec nic
		nenachází. Pokud jste přesvědčeni, že by na této stránce něco být mělo, můžete nás zkusit kontaktovat.
	</div>
{% endblock %}
