{% load compress %}
<!doctype HTML>

<html>
	<head>
		<meta charset=utf-8>

		<meta name="author" content="Juda Kaleta <juda.kaleta@gmail.com>">
		<meta content="index, follow" name="robots">
		<meta http-equiv="Content-Script-Type" content="text/javascript">

		{% compress css %}
		<link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
		{% endcompress %}

 		<script src="{{ STATIC_URL }}js/jquery.js"></script>

		{% compress js %}
 			<script src="{{ STATIC_URL }}js/background.js"></script>
		{% endcompress %}


		<title>Tchoříci</title>

		<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-2063092-19']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
	</head>

	<body>
		<img src="{{ STATIC_URL }}images/backgrounds/bg800.jpg" id="bg" alt="">
	</body>
</html>

