{% extends "base.html" %}

{% block title %}
 - seznam Tchořů
{% endblock %}

{% block description %}
Seznam všech Tchoříků se jménem a fotkou.
{% endblock %}

{% block content %}
	<div id="list">
		<div class="item">
			<div class="title">
				<img class="img" src="{{ STATIC_URL }}images/titles/sea.jpg" alt="">
				<img src="{{ STATIC_URL }}images/black.png" alt="" class="bg">
				<h2>Seznam Tchořů</h2>
			</div>
		</div>
	</div>

	<div class="people">
		{% for person in people %}
			<div class="person">
				<img src="{{ person.photo.url }}" alt="{{ person.first_name }}" title="{{ person.first_name }}" class="avatar">
				<span class="name">{{ person.first_name }} {{ person.last_name|slice:"1" }}. </span>
			</div>
		{% endfor %}
	</div>
{% endblock %}
